<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}
	
	<style type="text/css">
		#map { width:100%; height:350px; margin-bottom:1%;}
		#map img { max-width:none; }
	</style>

  <body>

    {{ partial "nav.html" . }}

    <div role="main" class="container main-content">
			<header class="header-page">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h1>Chaostreff Oldenburg</h1>
						<hr class="small">
						<span class="page-subheading">Chaos Computer Club</span>
					</div>
					</div>
				</div>
			</header>

			<div class="posts-list">
				{{ $pag := .Paginate (where .Data.Pages.ByWeight "Type" "block") }}
				{{ range $pag.Pages }}
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<h2> {{ .Title }}</h2>
						{{ if .Description }}
						<h5 class="post-subheading">{{ .Description }}</h5>
						{{ end }}
						{{ .Content }}
					</div>
				</div>
				{{ end }}
			</div>
		</div>

    {{ partial "footer.html" . }}

		<script type="text/javascript" src="js/OpenLayers.js"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($) {
			
			var zoom           = 16;

			var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
			var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection

			var center         = new OpenLayers.LonLat(8.2207, 53.14375).transform(fromProjection, toProjection);
			var layer          = new OpenLayers.Layer.OSM("OSM", ["//b.tile.openstreetmap.de/${z}/${x}/${y}.png"]);

			map = new OpenLayers.Map("map", { controls: [] });
			map.addLayer(layer);

			var vectorLayer = new OpenLayers.Layer.Vector("Overlay");

			var feature = new OpenLayers.Feature.Vector(
				new OpenLayers.Geometry.Point( 8.2207, 53.14375 ).transform(fromProjection, toProjection),
					{description:'Chaostreff Oldenburg'} ,
					{externalGraphic: '/img/ccc-ol-map.svg', graphicHeight: 50, graphicWidth: 50, graphicXOffset:-15, graphicYOffset:-25  }
				);
			feature.style.cursor = "pointer";
			vectorLayer.addFeatures(feature);

			map.addLayer(vectorLayer);

			map.addControl(new OpenLayers.Control.Attribution());
			map.addControl(new OpenLayers.Control.Navigation({'zoomWheelEnabled': false}));
			map.addControl(new OpenLayers.Control.PanZoomBar());
			map.addControl(new OpenLayers.Control.ScaleLine());
			var selector = new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup });
			map.addControl(selector);
			selector.activate();

			map.setCenter(center, zoom);

			function createPopup(feature) {
				feature.popup = new OpenLayers.Popup.FramedCloud("pop",
					feature.geometry.getBounds().getCenterLonLat(),
					null,
					'<div class="markerContent">'+feature.attributes.description+'</div>',
					null,
					true,
					function() { selector.unselectAll(); }
				);
				map.addPopup(feature.popup);
			}

			function destroyPopup(feature) {
				feature.popup.destroy();
				feature.popup = null;
			}

			
			//mainframe status
			$.getJSON("//status.mainframe.io/api/spaceInfo", function(data) {
				console.log (data["state"]["open"]);
				if (data["state"]["open"]) {
					$("#mainframe-status").attr("src", "https://www.kreativitaet-trifft-technik.de/media/img/mainframe-open.svg")
				}
				else if (data["state"]["closing"]) {
					$("#mainframe-status").attr("src", "https://www.kreativitaet-trifft-technik.de/media/img/mainframe-closing.svg")
					
				}
			});
		});
		</script>
  </body>
</html>
