<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}
	
	<style type="text/css">
		#map { width:100%; height:350px; margin-bottom:1%;}
		#map img { max-width:none; }
	</style>

  <body>

    {{ partial "nav.html" . }}

    <div role="main" class="container main-content">
			<header class="header-page">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h1>Chaostreff Oldenburg</h1>
						<hr class="small">
						<span class="page-subheading">Chaos Computer Club</span>
					</div>
					</div>
				</div>
			</header>

			<div class="posts-list">
				{{ $pag := .Paginate (where .Data.Pages.ByWeight "Type" "block") }}
				{{ range $pag.Pages }}
				<div class="row">
					<h2> {{ .Title }}</h2>
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						{{ .Content }}
					</div>
				</div>
				{{ end }}
			</div>
		</div>

    {{ partial "footer.html" . }}

		<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
		<script type="text/javascript">
		jQuery(document).ready(function($) {	
			map = new OpenLayers.Map("map");
		// disable zoom via mousewheel
			controls = map.getControlsByClass('OpenLayers.Control.Navigation');
			for(var i = 0; i < controls.length; ++i)
					 controls[i].disableZoomWheel();

			map.addLayer(new OpenLayers.Layer.OSM());

			var coordinate = new OpenLayers.LonLat(8.22076, 53.14370).transform(
				new OpenLayers.Projection("EPSG:4326"),
				map.getProjectionObject()
			);
			var markers = new OpenLayers.Layer.Markers("Markers");
			map.addLayer(markers);
			markers.addMarker(new OpenLayers.Marker(coordinate));
			map.setCenter(coordinate, 17);
		});
		</script>
  </body>
</html>
