<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}
	
	<style type="text/css">
		#map { width:100%; height:350px; margin-bottom:1%;}
		#map img { max-width:none; }
	</style>

  <body>

    {{ partial "nav.html" . }}

    <div role="main" class="container main-content">
			<header class="header-page">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h1>Chaostreff Oldenburg</h1>
						<hr class="small">
						<span class="page-subheading">Chaos Computer Club</span>
					</div>
					</div>
				</div>
			</header>

			<div class="posts-list">
				{{ $pag := .Paginate (where .Data.Pages.ByWeight "Type" "block") }}
				{{ range $pag.Pages }}
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<h2> {{ .Title }}</h2>
						{{ if .Description }}
						<h5 class="post-subheading">{{ .Description }}</h5>
						{{ end }}
						{{ .Content }}
					</div>
				</div>
				{{ end }}
			</div>
		</div>

    {{ partial "footer.html" . }}

		<script src="js/ol.js" />
		<script type="text/javascript">
		jQuery(document).ready(function($) {
			map = new ol.Map({
				target: 'map',
				layers: [new ol.layer.Tile({source: new ol.source.OSM()})]
				view: new ol.View({
					center: ol.proj.fromLonLat([8.22076, 53.14370], "ESPG:4326"),
					zoom: 17,
				})
			});
			/*
			map = new OpenLayers.Map("map");

			// disable zoom via mousewheel
			controls = map.getControlsByClass('OpenLayers.Control.Navigation');
			for(var i = 0; i < controls.length; ++i)
					 controls[i].disableZoomWheel();

			osm = OpenLayers.Layer.OSM("OpenStreetMap",
				[ '//a.tile.openstreetmap.org/${z}/${x}/${y}.png',
					'//b.tile.openstreetmap.org/${z}/${x}/${y}.png',
					'//c.tile.openstreetmap.org/${z}/${x}/${y}.png'
				], 
				null);
			map.addLayer(osm);

			var coordinate = new OpenLayers.LonLat(8.22076, 53.14370).transform(
				new OpenLayers.Projection("EPSG:4326"),
				map.getProjectionObject()
			);
			var markers = new OpenLayers.Layer.Markers("Markers");
			map.addLayer(markers);
			markers.addMarker(new OpenLayers.Marker(coordinate));
			map.setCenter(coordinate, 17);
			*/

			//mainframe status
			$.getJSON("//status.mainframe.io/api/spaceInfo", function(data) {
				console.log (data["state"]["open"]);
				if (data["state"]["open"]) {
					$("#mainframe-status").attr("src", "https://www.kreativitaet-trifft-technik.de/media/img/mainframe-open.svg")
				}
				else if (data["state"]["closing"]) {
					$("#mainframe-status").attr("src", "https://www.kreativitaet-trifft-technik.de/media/img/mainframe-closing.svg")
					
				}
			});
		});
		</script>
  </body>
</html>
